<div id="container">
    <div class="div1">Total Classes
        <div class="content">
            <p>{{count}}</p>
        </div>
    </div>
    <div class="div2">Total Students
        <div class="content">
            <p>{{count}}</p>
        </div>
    </div>
</div>
<div id="container1">
    <div class="div3">
        
        <span class="aLink"><a href="/classes">+Add Classes</a></span>
    </div>
    <div class="div4">
        <span class="aLink"><a href="/dashbaord/Students">+Add Students</a></span>
    </div>
</div>